.car {
    width: 48rem;
    position: absolute;
    display: flex;
    margin-bottom: 1rem;
    padding: 1.4rem 5rem;
    perspective: 1000px; 
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(0) rotateY(0);
  }
  
  .car-brand{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha os slides horizontalmente */
    align-items: center; /* Alinha os slides verticalmente */
}
.slick-list,
.draggable,
.slick-track{
    width: 100%;
}

.car__image {
    width: 80%;
    height: 30rem;
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 15px #000000;
}
  
.car__logo {
    width: 4rem;
    margin-right: 1rem;
}
  
.car__text {
    flex: 1;
    font-size: 1rem;
}
  
  /* Estilos para a área do slider de cada marca */
.slider-cars {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; /* Impede que os carros quebrem para outra linha */
    gap: 1rem;
    padding: 1rem 0;
    scroll-behavior: smooth; /* Adiciona um comportamento de scroll suave */
}

.slick-initialized .slick-slide{
    position: absolute;
}