@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url(reset.css);

/* General styles */
body {
  position: relative;
  width: 100%;
  font-family: 'Luxurious Roman', serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, .9);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(src/img/Untitled.png);
  background-size: 4rem;
  opacity: 0.5; 
  z-index: -1; 
}

body::-webkit-scrollbar {
  display: none; 
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
}

.header__logo img {
  max-width: 10rem;
  height: auto;
  filter:invert(100%);
}

.header__nav .nav__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__nav .nav__list li {
  margin-right: 0;
}

.header__nav .nav__list li a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 1.8rem; 
  transition: color 0.3s ease; 
}

.header__nav .nav__list li a:hover {
  color: #f39c12; 
}

.banner{
  position: relative;
  overflow: hidden;
}

.video__banner{
  object-fit: cover;
  width: 100%;
  max-height: 32rem;
}

/* .slider {
  display: flex;
  width: 100%; 
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
} */

.slider__title {
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem; 
  letter-spacing: .1rem; 
  background-color: rgba(0, 0, 0, 0.5); 
  text-align: center;
}
/* 
.slider img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  
}

.slider__image {
  height: 32rem;
  transition: transform 0.3s ease-in-out;
} */

.slick-dots li button:before {
  line-height: 2rem;
  font-size: 1rem;
}


.car__content{
  display: flex;
  flex-direction: row;
  z-index: 2;
  margin-top: 3rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: 0 0 25px rgba(139, 139, 139, 0.6);
  gap: 1rem;
  border-radius: 5px ;
  width: 38rem;
  height: 2rem;
  justify-content: center;
}

.car__logo{
  width: 4rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.car_description p{
  margin-top: .4rem;
  font-size: .6rem;
}

.inventory{
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 3rem 0;
}

.brand{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  padding: .5rem 0; 
  justify-content: center;
}

.controls {
  width: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-arrow {
  cursor: pointer;
}

.slider-inventory{
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  width: 100%; 
  margin: 0 auto; 
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.background{
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: row;

}
.back {
  width: 33.33%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  filter: opacity(100%) saturate(0%);
}

.brand .background {
  display: flex;
}

.inventory__image{
  object-fit: contain;
  display: block;
  width: 46rem;
  margin: 2rem auto; 
  border-radius: .3rem;
  box-shadow: 0 0 20px #000000;
  
}



.benefits__logo-premium {
  width: 14rem;
}

.benefits,
.contact {
  padding: 80px 20px;
  text-align: center;
  background-color: rgba(36, 36, 36, 0.4);
}

.about{
  padding: 80px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
}

.about img{
  width: 26rem;
  object-fit: cover; 
  mix-blend-mode: normal;
  filter: drop-shadow(0 0 90px #ccc);
}

.benefits__content,
.about__content,
.contact__content {
  max-width: 800px;
  margin: 0 auto;
}


.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}


.description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #999;
  
}

.disclaimer{
  color: #fff;
  font-size: .8rem;
  line-height: 1rem;
}


.btn-read-more {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff8800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-read-more:hover {
  background-color: #e67700;
}


.contact__details {
  text-align: left;
  margin-bottom: 40px;
  color: #999;
}

.contact__address,
.contact__phone,
.contact__email {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  flex-direction: column;
  display: flex;
  color: #fff;
  padding: 40px 20px;
  background-image: url(src/img/header/prestige.jpg);
  background-size: cover;
  background-position: center;
  
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo img {
  width: 10rem;
  filter:invert(100%);
}

.footer__links,
.footer__contact {
  margin-bottom: 20px;
  text-align: center;
}

.footer__links h4,
.footer__contact h4 {
  font-size: .8rem;
  margin-bottom: 15px;
  color: #f39c12;
}

.footer__links ul,
.footer__contact p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links a {
  width: 6rem;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.fa img{
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 2rem;
  margin-bottom: 1rem;
}

.fa-twitter{
  filter: invert(100%);
}

.footer__links a:hover {
  color: #f39c12;
}

.footer__social {
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 4rem 0 0 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 8px;
}

.social-icons a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.footer__bottom {
  text-align: center;
}

.slick-prev,
.slick-next {
  font-size: 0;
  border-radius: 50%;
  line-height: 40px; 
  margin: 0 auto;
  
}

.slick-next:before, .slick-prev:before{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.slick-next, .slick-prev{
  z-index: 1;
}

.slick-prev {
  left: 6rem; 
}

.slick-next {
  right: 6rem;
}


@media only screen and (max-width: 1200px) {

  .header__logo img {
    max-width: 80px; 
  }

  .nav__list {
    display: none; 
  }

  .header {
    justify-content: center; 
  }

  .banner {
    height: 300px; 
  }

  .slider__image {
    height: 200px; 
  }
}


@media only screen and (max-width: 768px) {

  .header__logo img {
    max-width: 60px; 
  }

  .header {
    padding: 10px;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .banner {
    height: 250px;
  }


  .slider__image {
    height: 150px;
  }
  
}

@media only screen and (max-width: 480px) {

  .header__nav .nav__list{
    gap: 10px;
  }

  .header__nav .nav__list li a{
    font-size: .8rem;
  }

  .header__logo img {
    max-width: 5rem; 
  }

  .banner {
    height: 14rem; 
  }

  .slider__image {
    height: 13rem; 
  }

  .slider__title{
    padding: .5rem 0;
    font-size: 1rem;
  }

  .inventory{
    margin: 0;
  }

  .brand{
    height: 32rem;
  }

  .car__content{
    padding: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: .8rem;
    font-weight: 400;
    gap: .6rem;
    width: 24rem;
  }


  .car_description p{
    font-size: .6rem;
    margin-top: .4rem;
  }

  .inventory__image{
    width: 24rem;
  }

  .car__logo{
    width: 2rem;
  }

  .about img{
    width: 16rem;
  }

  .slick-prev {
    left: .85rem; 
  }
  
  .slick-next {
    right: 1.15rem; 
  }
  .slick-prev,
  .slick-next {
    font-size: 0; 
    border-radius: 50%; 
    line-height: 40px; 
    margin: 0 auto;
    
  }

  .slick-next:before, .slick-prev:before{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }
  
}





.slick-dots {
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  margin: 0 1rem;
}

.slick-dots li button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: 3rem;
  height: 2px; 
  background-color: white;
  opacity: 0.3;
  transition: opacity 0.3s ease;
  padding: 0;
}

.slick-dots li.slick-active button {
  opacity: 0.8; 
}

.slick-dots button:focus {
  outline: none;
}

.slick-dots li button:before {
  font-family: slick;
  font-size: 2px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  content: none;
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

