@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@import url(reset.css);
@import url(slider-cars.css);

/* General styles */
body {
  width: 100%;
  font-family: 'Luxurious Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

.header {
  background-color: #2c3e50; /* Nova cor de fundo */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.header__logo img {
  max-width: 7.6rem; /* Aumentar um pouco o tamanho do logo */
  height: auto;
}

.header__nav .nav__list {
  list-style: none;
  display: flex;
  gap: 30px; /* Espaçamento entre os itens do menu */
}

.header__nav .nav__list li {
  margin-right: 0; /* Remover a margem individual dos itens do menu */
}

.header__nav .nav__list li a {
  text-decoration: none;
  color: #ecf0f1; /* Nova cor do texto do menu */
  font-size: 16px; /* Tamanho do texto ajustado */
  transition: color 0.3s ease; /* Transição suave na mudança de cor */
}

.header__nav .nav__list li a:hover {
  color: #f39c12; /* Nova cor ao passar o mouse */
}

.banner{
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%; /* Adjust width as desired */
  margin: 0 auto; /* Center the slider horizontally */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.slider__title {
  width: 100%;
  padding: 1rem 0;
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 1.5rem; /* Aumente o tamanho do texto */
  letter-spacing: .1rem; /* Reduza o espaçamento entre letras */
  background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade do fundo */
  text-align: center;
}

/* Styles for images in the slider */
.slider img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  
}

.slider__image {
  height: 24rem;
  transition: transform 0.3s ease-in-out;
}

.slider__image:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); /* Adicione uma sombra ao passar o mouse */
  transform: scale(1.05); /* Efeito de zoom */
}

.slick-dots li button:before {
  line-height: 2rem;
  font-size: 1rem;
}

/* Styles for the featured cars section */
.inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inventory h2 {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0; /* Reduzindo um pouco o preenchimento para melhor proporção */
  text-transform: uppercase; /* Transforma o texto para maiúsculas */
  letter-spacing: 2px; /* Aumenta o espaçamento entre letras */
  font-size: 2.5rem; /* Tamanho maior para destacar */
  color: #fff; /* Cor do texto mais escura para melhor legibilidade */
  border-bottom: 3px solid #555; 
  border-top: 3px solid #555;
  box-shadow: 0 0 5px #000;
}









.car__image:hover{
  transform: scale(1.05);
}
.car {
  width: 100%;
  position: absolute;
  display: flex;
  margin-bottom: 1rem;
  padding: 1.4rem 5rem;
  perspective: 1000px; 
  transition: transform 0.5s;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0) rotateY(0);
}

.car-brand{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha os slides horizontalmente */
  align-items: center; /* Alinha os slides verticalmente */  
  font-size: 2rem;
  margin-top: 4rem;
}


.slick-list,
.draggable,
.slick-track{
  width: 100%;
}

.car__image {
  width: 42rem;
  height: 23rem;
  position: absolute;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 15px #000000;
}


.car__text {
  flex: 1;
  font-size: .8rem;
}

/* Estilos para a área do slider de cada marca */
.slider-cars {
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Impede que os carros quebrem para outra linha */
  gap: 1rem;
  padding: 1rem 0;
  scroll-behavior: smooth; /* Adiciona um comportamento de scroll suave */
}

.slick-initialized .slick-slide{
  position: absolute;
}

.car__content {
  position: absolute;
  display: flex;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
  transform: perspective(300px) rotateX(10deg);
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 22rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 2rem 0 0 2rem;
}

/* .car:hover .car__content {
  transform: translateY(-15px) rotateX(10deg);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.8);
  z-index: 2;
} */

.car__logo {
  width: 4rem;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin: 0 1rem;
}


.car__text h3 {
  margin:.5rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
.slick-dotted.slick-slider{
  margin-bottom: 2rem;
}
 .draggable{
  display: flex;
  padding-bottom: 4rem;
}

.slick-list, .draggable, .slick-track{
  display: flex;
  justify-content: center;
  width: 100%;
}

.car .slick-slide .slick-current .slick-active{
  align-items: center;
  justify-content: center;
}


.benefits__logo-premium {
  width: 14rem;
}

/* Styles for sections */
.benefits,
.contact {
  padding: 80px 20px;
  text-align: center;
  box-shadow: inset 0 0 15px #000;
}

.about{
  padding: 80px 20px;
  text-align: center;
}
.about img{
  width: 26rem;
  object-fit: cover; /* Para ajustar o tamanho da imagem */
  mix-blend-mode: normal;
  filter: drop-shadow(0 0 86px #ccc);
}

.benefits__content,
.about__content,
.contact__content {
  max-width: 800px;
  margin: 0 auto;
}

/* Styles for titles */
.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Styles for text */
.description {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #999;
}

/* Styles for buttons */
.btn-read-more {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff8800;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-read-more:hover {
  background-color: #e67700;
}

/* Styles for contact details */
.contact__details {
  text-align: left;
  margin-bottom: 40px;
  color: #999;
}

.contact__address,
.contact__phone,
.contact__email {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}

/* Styles for the footer */

.footer {
  color: #fff;
  padding: 40px 20px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__logo img {
  width: 10rem; /* Adjust logo size as needed */
}

.footer__links,
.footer__contact {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.footer__links h4,
.footer__contact h4 {
  font-size: .8rem;
  margin-bottom: 15px;
  color: #f39c12;
}

.footer__links ul,
.footer__contact p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links a {
  width: 6rem;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.fa img{
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 2rem;
  margin-bottom: 1rem;
}

.footer__links a:hover {
  color: #f39c12;
}

.footer__social {
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 8px;
}

.social-icons a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.footer__bottom {
  text-align: center;
}


/* Estilos para telas menores */
@media only screen and (max-width: 1200px) {
  /* Exemplos de ajustes para telas de largura máxima de 1200px */
  /* Pode ajustar os valores conforme necessário */

  .header__logo img {
    max-width: 80px; /* Reduzir o tamanho do logo para telas menores */
  }

  .nav__list {
    display: none; /* Esconder o menu para telas menores */
  }

  .header {
    justify-content: center; /* Centralizar elementos no cabeçalho */
  }

  .banner {
    height: 300px; /* Ajustar a altura do banner para telas menores */
  }

  .slider__image {
    height: 200px; /* Ajustar a altura das imagens do slider */
  }

  /* Mais ajustes para outras seções e elementos conforme necessário */
}

/* Estilos para telas ainda menores */
@media only screen and (max-width: 768px) {
  /* Exemplos de ajustes para telas de largura máxima de 768px */
  /* Pode ajustar os valores conforme necessário */

  .header__logo img {
    max-width: 60px; /* Reduzir ainda mais o tamanho do logo */
  }

  .header {
    padding: 10px; /* Reduzir o preenchimento do cabeçalho */
  }

  .nav__list {
    display: flex; /* Exibir o menu como lista para telas menores */
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre os itens do menu */
  }

  .banner {
    height: 250px; /* Ajustar a altura do banner para telas menores */
  }

  .slider__image {
    height: 150px; /* Ajustar a altura das imagens do slider */
  }

  /* Mais ajustes para outras seções e elementos conforme necessário */
}

/* Estilos para telas muito pequenas, como smartphones */
@media only screen and (max-width: 480px) {
  /* Exemplos de ajustes para telas de largura máxima de 480px */
  /* Pode ajustar os valores conforme necessário */

  .header__logo img {
    max-width: 50px; /* Reduzir ainda mais o tamanho do logo para telas menores */
  }

  .banner {
    height: 200px; /* Ajustar a altura do banner para telas menores */
  }

  .slider__image {
    height: 120px; /* Ajustar a altura das imagens do slider */
  }

  /* Mais ajustes para outras seções e elementos conforme necessário */
}
