@import url('variables.css');
.footer-section {
  background: var(--background-dark);
  color: #fff;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.footer-logo {
  flex: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.footer-logo h3 {
  font-size: 2.2em;
  color: #fff;
  margin-bottom: 15px;
}
.footer-logo p {
  font-size: 1em;
  line-height: 1.6;
  color: #e5e7eb;
}
.footer-links, .footer-contact {
  flex: 1;
  
  display: flex;
  text-align: left;
  flex-direction: column;
}
.footer-links h4, .footer-contact h4 {
  font-size: 1.6em;
  margin-bottom: 20px;
  color: #fff;
  border-bottom: 2px solid #ffcc00;
  display: inline-block;
}
.footer-links ul, .footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul li, .footer-contact ul li {
  font-size: 1em;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e5e7eb;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-links ul li a:hover {
  color: #ffcc00;
  text-decoration: underline;
}
.footer-contact ul li i {
  color: #ffcc00;
}
.footer-social {
  text-align: center;
  margin-top: 40px;
}
.footer-social a {
  color: #fff;
  margin: 0 15px;
  font-size: 1.8em;
  transition: transform 0.3s ease, color 0.3s ease;
}
.footer-social a:hover {
  transform: scale(1.2);
  color: #ffcc00;
}
.footer-bottom{
  text-align: center;
}
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }
  .footer-links, .footer-contact {
      margin-bottom: 30px;
  }
  .footer-social {
      margin-top: 20px;
  }
}
