.app-header {
  color: white;
  padding: 10px 20px;
  position: sticky;
  height: 15vh;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.app-header.shrink {
  padding: 5px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header-logo {
  width: 120px;
  filter: invert(100%);
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a,
.logout-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: .5rem;
}

.nav-links a:hover,
.logout-btn:hover {
  color: #f39c12;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    gap: 10px;
    justify-content: center;
  }

  .header-logo {
    width: 90px;
  }

  .nav-links a,
  .logout-btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .header-logo{
    width: 40px;
  }
}
