@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #6220fb, #1c1c1c); /* Fundo roxo vibrante */
  color: white;
  height: 60vh; 
  overflow: hidden;
  width: 100%;
}

.hero-container{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
  flex: 1;
  text-align: left;
}

.hero-content h1 {
  font-size: 4rem;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

.cta-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background-color: #fdd835;
  color: #4a148c;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #ffeb3b;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: white;
  color: #4a148c;
  transform: scale(1.05);
}

.hero-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transform: translateX(10%);
}

/* Responsividade */
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
  }

  .hero-content {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-image {
    max-width: 90%;
    transform: translateX(0);
  }

  .cta-buttons {
    flex-direction: column;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .hero-image {
    max-width: 80%;
  }
}
